# Forecasting the Breeding Bird Survey

In [1]:
library(forecast)
library(dplyr)

Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Loading required package: timeDate
This is forecast 6.1


Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## Initial data setup

Load the BBS data and limit it to sites with contiguous time-series from 2000 to 2014 (the range spanned by the MODIS data).

In [2]:
data <- read.csv("./data/bbs_data.csv")
contig_modern_routes <- read.csv('./data/contig_modern_routes.csv')
colnames(contig_modern_routes) <- c('site_id')
data_modern <- semi_join(data, contig_modern_routes)
data_modern <- filter(data_modern, year >= 2000)

#data <- data_modern
head(data)

Joining by: "site_id"

  site_id year species_id abundance
1    2001 1967       2010         2
2    2001 1967       2020         1
3    2001 1967       2730         8
4    2001 1967       3870        19
5    2001 1967       4440         6
6    2001 1967       5970         4

## Extract the long contiguous time-series

In [3]:
filtered_ts <- function(df){
    full_ts <- seq(from=min(df$year), to=max(df$year), by=1)
    contig_pos <- na.contiguous(match(full_ts,unique(df$year)))
    filter(df, year %in% full_ts[contig_pos])
    }

min_ts_length = 20

data_by_site <- group_by(data, site_id)
contig_ts <- do(data_by_site, filtered_ts(.))
contig_ts_by_site <- group_by(contig_ts, site_id)
contig_ts_length <- summarize(contig_ts_by_site, n_years = n_distinct(year))
long_ts <- filter(contig_ts_length, n_years >= min_ts_length)
contig_ts_long <- semi_join(contig_ts, long_ts)
head(contig_ts_long)

Joining by: "site_id"

Source: local data frame [6 x 4]
Groups: site_id

  site_id year species_id abundance
1    2007 1974       2010         1
2    2007 1974       2730         4
3    2007 1974       2890        24
4    2007 1974       3131         2
5    2007 1974       3160        48
6    2007 1974       3250        10

In [4]:
data_by_site_yr <- group_by(contig_ts_long, site_id, year)
richness <- summarise(data_by_site_yr, richness = n_distinct(species_id))
head(richness)

Source: local data frame [6 x 3]
Groups: site_id

  site_id year richness
1    2007 1974       52
2    2007 1978       55
3    2007 1979       59
4    2007 1980       54
5    2007 1981       56
6    2007 1982       44

In [5]:
richness_by_site <- group_by(richness, site_id)
cat("There are", n_groups(richness_by_site), "continuous time-series with at least" , min_ts_length, "years of data")

There are 900 continuous time-series with at least 20 years of data

## Forecasting

Generate forecasts for naive, average, and ARIMA time-series models for each site.

In [6]:
lag <- 5
out <- do(richness_by_site,
          cast_naive = naive(.$richness[1:(length(.$richness) - lag - 1)], lag)$mean,
          cast_avg = meanf(.$richness[1:(length(.$richness) - lag - 1)], lag)$mean,
          cast_arima = forecast(auto.arima(.$richness[1:(length(.$richness) - lag - 1)], seasonal = FALSE), h = lag)$mean,
          test_set = (.$richness[(length(.$richness) - lag):length(.$richness)])
         )
head(out)

Source: local data frame [6 x 5]

  site_id cast_naive cast_avg cast_arima test_set
1    2007    <S3:ts> <dbl[5]>    <S3:ts> <int[6]>
2    2013    <S3:ts> <dbl[5]>    <S3:ts> <int[6]>
3    2014    <S3:ts> <dbl[5]>    <S3:ts> <int[6]>
4    2015    <S3:ts> <dbl[5]>    <S3:ts> <int[6]>
5    2017    <S3:ts> <dbl[5]>    <S3:ts> <int[6]>
6    2019    <S3:ts> <dbl[5]>    <S3:ts> <int[6]>

## Forecasting experiments

In [149]:
examp <- filter(richness, site_id == 2007)
forecast <- naive(examp$richness)
examp$richness[1:length(examp$richness)]

 [1] 52 55 59 54 56 44 51 43 48 45 46 49 46 49 47 50 44 41 46 49 43 48 46 45

In [153]:
lag <- 5
out <- do(richness_by_site,
          cast_naive = naive(.$richness[1:(length(.$richness) - lag - 1)], lag)$mean,
          cast_avg = meanf(.$richness[1:(length(.$richness) - lag - 1)], lag)$mean,
          cast_arima = forecast(auto.arima(.$richness[1:(length(.$richness) - lag - 1)], seasonal = FALSE), h = lag)$mean
         )
head(out)

Source: local data frame [6 x 4]

  site_id cast_naive cast_avg    cast_arima
1    2007    <S3:ts> <dbl[5]> <S3:forecast>
2    2013    <S3:ts> <dbl[5]> <S3:forecast>
3    2014    <S3:ts> <dbl[5]> <S3:forecast>
4    2015    <S3:ts> <dbl[5]> <S3:forecast>
5    2017    <S3:ts> <dbl[5]> <S3:forecast>
6    2019    <S3:ts> <dbl[5]> <S3:forecast>

In [14]:
out$cast[[1]]

Time Series:
Start = 11
End = 15
Frequency = 1
[1] 58 58 58 58 58

In [150]:
train_set <- 1:(length(examp$richness)-lag - 1)
test_set <- (length(examp$richness)-lag):length(examp$richness)
model <- auto.arima(examp$richness[train_set], seasonal = FALSE)
cast_arima <- forecast(model, h = 5)
cast_naive <- naive(examp$richness[train_set], h = 5)
cast_avg <- meanf(examp$richness[train_set], h = 5)
examp$richness[test_set] - cast_arima$mean
examp$richness[test_set] - cast_naive$mean
examp$richness[test_set] - cast_avg$mean
model

Time Series:
Start = 20
End = 24
Frequency = 1
[1]  6.156072 -1.836086  4.421392  1.627654  1.128673

Time Series:
Start = 20
End = 24
Frequency = 1
[1]  3 -3  2  0 -1

[1]  0.3157895 -5.6842105 -0.6842105 -2.6842105 -3.6842105

Series: examp$richness[train_set]
ARIMA(1,1,0)

Coefficients:
          ar1
      -0.6312
s.e.   0.1767

sigma^2 estimated as 14.9:  log likelihood=-50.11
AIC=104.21   AICc=105.01   BIC=105.99